@model Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <div>
            <p><img src="@Model.PathToPicture" /></p>
        </div>
        <div>
            <p>@Model.Name</p>
        </div>
        <div>
            <p>@Model.Description</p>
        </div>
        <div>
            <p>@Model.Price</p>
        </div>
    </div>
    @using (Html.BeginForm("AddProductToCart", "Cart"))
    {
        <div>
            @Html.HiddenFor(x => Model.Id)
            @Html.Hidden("returnUrl", $"/Products?id={Model.Id}")
            <input type="submit" class="btn btn-success" value="Добавить в корзину" />
        </div>
    }
</body>
</html>