@model Product

<link rel="stylesheet" href="~/css/Products.css" />

<body>
    <div>
        <div style="margin:auto">
            <img src="~/@Model.PathToPicture" class="productPicture"/>
        </div>
        <div>
            <p>@Model.Name</p>
        </div>
        <div>
            <p>@Model.Description</p>
        </div>
        <div>
            <p>@Model.Price</p>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <form id="addForm" asp-action="AddProductToCart" asp-controller="Cart">
            <input type="number" id="addFormId" name="id" value="@Model.Id" hidden="hidden"/>
            <input type="submit" class="btn-success" value="Добавить продукт в корзину" />
        </form>
        <div id="result"></div>
    }
    else
    {
        <p>Требуется войти в систему чтобы добавить продукт в корзину.</p>
    }

    @if (User.IsInRole("admin"))
            {
                <form asp-controller="Products" asp-action="Update" method="get">
                    <input type="number" name="id" value="@Model.Id" hidden="hidden" />
                    <input type="submit" value="Изменить" /> 
                </form>
                <form asp-controller="Products" asp-action="Delete" id="delete">
                    <input type="number" id="id" value="@Model.Id" hidden="hidden" />
                    <input type="submit" value="Удалить" />
                </form>
            }

</body>